body {
	margin: 5;
	padding: 5;
	background-image: url("media/pavesketch.jpg"), url("media/pave1.jpg");
	background-size: 400px 200px, cover;
}
.page {
	margin-top: 5;
	margin-bottom: 5;
	background-color: rgb (255, 105, 180);
}
.navbar {
	margin: 0;
	padding: 0;
	text-align: center;
}
.img1 {
	font-family: "Calibri", cursive;
	color: #808080;
	background-color #808000;
	font-size: 10px;
	text-align: center;
	size: 100px 50px;
}
.img2 {
	font-family: "Calibri", cursive;
	color: #C0C0C0;
	background-color #FF00FF;
	font-size: 10px;
	text-align: center;
}
.img3 {
	font-family: "Calibri", cursive;
	color: #FFFFFF;
	background-color #008080;
	font-size: 10px;
	text-align: center;
}
.img4 {
	font-family: "Calibri", cursive;
	color: #FFFFFF;
	background-color #000080;
	font-size: 10px;
	text-align: center;
}
.img5 {
	font-family: "Calibri", cursive;
	color: #FFFFFF;
	background-color #FFA500;
	font-size: 10px;
	text-align: center;
}
.img7 {
	font-family: "Calibri", cursive;
	color: #FFFFFF;
	background-color #00FFFF;
	font-size: 10px;
	text-align: center;
}
h2 {
	font-family: "Calibri", cursive;
	color: #808080;
	text-align: center;
}

}
{
	font-family: "Calibri", cursive;
	color: #FF00FF;
	height: 20px;
}
p, h4 {
	text-align: center;
	height: 25px;
	color: #FFFFFF;
}